.home-content {
    position: relative;
    top: 100px;
    left: 0; /* 좌측으로 이동되도록 수정 */
    padding: 0px 100px; /* 여백을 추가하여 좌측으로 이동 */
}

.article {
    border-bottom: 2px solid #00000029;
    padding: 20px 20px;
    display: grid;
    grid-template-columns:10px 20px 1fr;
    grid-gap: 5px;
}

.article-head {
    display: flex;
    align-items: baseline;
    grid-column-start: 3;
}

.article-body {
    margin-top: 10px;
    grid-column-start: 3;
}

.article-bottom {
    margin-top: 10px;
    display: flex;
    grid-column-start: 3;
}
.article-bottom p:last-child{
    margin-left: 20px;
}

.article a {
    text-decoration: none;
    color: black;
}

.article a:hover {
    color: #00000029;
}

.domain-name {
    display: inline-block;
    font-size: 14px;
}