.home-content {
    position: relative;
    top: 100px;
    padding: 0 20% 100px;
}

.article {
    border-bottom: 2px solid #00000029;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 10px 20px 1fr;
    grid-gap: 5px;
    align-items: baseline;
}

.article-button button {
    width: 80px;
    margin-left: 20px;
}

.article-head {
    display: flex;
    align-items: baseline;
    grid-column-start: 3;
}

.article-body {
    margin-top: 10px;
    grid-column-start: 3;
}

.article-num {
    font-weight: bold;
    font-size: 1.2rem;
}

.article-bottom {
    margin-top: 10px;
    display: flex;
    grid-column-start: 3;
}

.article-bottom p:last-child {
    margin-left: 20px;
}

.article a {
    text-decoration: none;
    color: black;
}

.article a:hover {
    color: #00000029;
}

.domain-name {
    display: inline-block;
    font-size: 14px;
}

.article-author-link {
    font-weight: bold;
}

.article-button > button {
    margin-left: 20px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.article-button > button > img {
    width: 20px;
    height: 20px;
}

.article-button > button > img:hover {
    background-color: #00000029;
}
